@import "theme";
@import "src/styles/functions";

//@use "sass:color";

* {
	font-family: "NotoSans NFP";
	font-weight: 500;
}

.bar {
	min-height: 4pt;
	background: none;

	.workspaces {
		//padding: 4px;

		.workspace_btn {
			font-size: 0;
			min-width: 5pt;
			min-height: 5pt;
			margin: 0;
			padding: 2pt;

			transition: padding 200ms, background 200ms;

			border: 1px solid rgba(255, 255, 255, 0.4);
			border-radius: 999px;

			background: none; //darken($bg-primary, 0.8);

			&.occupied {
				background: rgba(map-deep-get($theme, "buttons", "btn-primary-bg"), 0.4);
			}

			&.active {
				padding: 2pt 8pt;
				background: map-deep-get($theme, "buttons", "btn-primary-bg");
			}
		}
	}
}

@import "src/widgets/notification/notification";
@import "src/styles/musicPlayer";
@import "src/widgets/dateTime/dateTime";
