@import "theme";
//@use "sass:color";

/// Map deep get
/// @author Kitty Giraudel
/// @access public
/// @param {Map} $map - Map
/// @param {Arglist} $keys - Key chain
/// @return {*} - Desired value
@function map-deep-get($map, $keys...) {
	@each $key in $keys {
		$map: map-get($map, $key);
	}
	@return $map;
}

.bar {
	background: none;

	.workspaces {
		//padding: 4px;

		.workspace_btn {
			font-size: 0;
			min-width: 5pt;
			min-height: 5pt;
			margin: 0;
			padding: 2pt;

			transition: padding 200ms, background 200ms;

			border: 1px solid #333333;
			border-radius: 999px;

			background: none; //darken($bg-primary, 0.8);

			&.occupied {
				background: rgba(map-deep-get($theme, "buttons", "btn-primary-bg"), 0.2);
			}

			&.active {
				padding: 2pt 8pt;
				background: map-deep-get($theme, "buttons", "btn-primary-bg");
			}
		}
	}
}


