/*$theme_fg_color: @theme_fg_color;
$theme_text_color: @theme_text_color;
$theme_bg_color: @theme_bg_color;
$theme_base_color: @theme_base_color;
$theme_selected_bg_color: @theme_selected_bg_color;
$theme_selected_fg_color: @theme_selected_fg_color;*/
