@import "../../../theme";
@import "../../styles/functions";

window.notification-popups box.notifications {
	padding: .5em;
}

.icon {
	min-width: 68px;
	min-height: 68px;
	margin-right: 1em;

	image {
		font-size: 58px;
		/* to center the icon */
		margin: 5px;
		color: map-deep-get($theme, "notifications", "ntfy-primary-color");

	}

	box {
		min-width: 68px;
		min-height: 68px;
		border-radius: 7px;
	}
}

.notification {
	min-width: 450px;
	//margin: 0.5em;
	padding: 1em;

	transition: opacity 200ms ease-in-out;
	opacity: 0;

	border: 1px solid map-deep-get($theme, "colors", "primary");
	border-radius: 11px;

	background-color: map-deep-get($theme, "notifications", "ntfy-primary-bg");

	&.critical {
		border: 1px solid map-deep-get($theme, "colors", "danger");
	}

	&.active {
		opacity: 100;
	}
}

.title {
	font-size: 1.1em;
	color: map-deep-get($theme, "notifications", "ntfy-primary-color");
}

.body {
	font-size: 0.8em;
	color: map-deep-get($theme, "notifications", "ntfy-disabled-bg");
}

.actions {
	.action-button {
		margin: 0 0.8em;

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}
	}
}